
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/css/forms.css" type="text/css">
  </head>
  <body>
    <div id='wrap'>
      <%= yield %>
      <script src="/js/main.js" charset="utf-8"></script>
    </div>
  </body>
</html>
