<h1> <%= @project.name %> </h1>

<label> Client </label>
<p><%= @project.client %></p>

<label> Description </label>
<textarea> <%= @project.description %> </textarea>

<label>Completed? </label>
<p><%= @project.completed %></p>
