<div class="om">
  <div class="im">
    <img class="im" src="images/car.jpg">
    <img class="im" src="images/car.jpg">
    <img class="im" src="images/car.jpg">
  </div>
  <div class="im">
    <img class="im" src="images/car.jpg">
    <img class="im" src="images/car.jpg">
    <img class="im" src="images/car.jpg">
  </div>
  <div class="im">
    <img class="im" src="images/car.jpg">
    <img class="im" src="images/car.jpg">
    <img class="im" src="images/car.jpg">
  </div>
</div>
