
<div class="link">
  <a href="/">Click Here To Learn About Cats</a>
  <a href="/me">Click Here To Learn About Me</a>
  <a href="/horse">Click Here To Learn About Horses</a>
</div>

<h1><%= @page_title %></h1>

  <div class="photo" id="car">
    <img
    src="https://scontent-b-sjc.xx.fbcdn.net/hphotos-xpf1/t31.0-8/976520_506950449354928_1828155894_o.jpg">
  </div>
<br clear="all" />
