<div class="link">
  <a href="/">Click Here To Learn About Cats</a>
  <a href="/me">Click Here To Learn About Me</a>
  <a href="/cars">Click Here To Learn About Cars</a>
</div>

<h1><%= @page_title %></h2>

  <div class="photo">
    <img src="/images/horse.gif"/>
  </div>
<br clear="all" />
