<!DOCTYPE html>
<html>
  <head>
    <title>All about cats</title>
    <link rel="stylesheet" href="/css/cats.css">
        <
  </head>
  <body>
    <div id="wrap">
        <%= yield %>
    </div>
  </body>
</html>
