<div class="link">
<a href="/">Click here to learn about Cats </a>
<a href="/horse">Click Here To Learn About Horses</a>
<a href="/cars">Click Here To Learn About Cars</a>
</div>
<h1><%= @page_title %> </h1>
<div class="photo">
  <img
  src="https://scontent-b-sjc.xx.fbcdn.net/hphotos-xfa1/t1.0-9/1000828_10151524994038240_656486257_n.jpg">
</div>
